body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: rgb(255, 205, 0);
  color: black;
  padding: 1em;
  text-align: center;
}

nav a {
  color: black;
  margin: 0 1em;
  text-decoration: none;
}

section {
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  background: white;
  border-radius: 6px;
}

/*ul {
  list-style: circle;
  padding: 0;
}

li {
  margin: 0.5em 0;
}
*/